<div class="row">

  <div class="hero">

    <div class="hero__text">

      <div class="hero__text__headline">
        <h2>LeasePlan PPC Management</h2>
      </div>

      <div class="hero__text__paragh">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, tempore aliquam tempora optio iste modi ad earum.
          Laboriosam dolores, adipisci fugiat illum id soluta aliquid cum nihil asperiores expedita non iure animi assumenda
          doloremque recusandae voluptatum laudantium obcaecati! Earum blanditiis cupiditate in non voluptas ullam debitis
          voluptatem sit necessitatibus et, quis cum, laboriosam, obcaecati assumenda officiis odio ut perferendis error!</p>
      </div>
    </div>
    
    <div class="hero__image">
      <img src="../../../../assets/img/projects/PPC/LeasePlan.PNG" alt="">
    </div>

  </div>
</div>

<!-- Full width section -->
<div class="full-row">
  <div class="container">
    <h5>lorem Title</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod repellendus impedit ullam quibusdam, perferendis
      tenetur veritatis a, quas, sint dolorem qui eius sapiente ducimus blanditiis aut. Non, assumenda! Voluptates?</p>
  </div>
</div>

<hr>