
<div class="row">
  <section class="projects-list">
    <h4>Please, select from the Projects below!</h4>
    <ul class="projects-list__container">
    <li *ngFor="let Project of Projects; let i = index" class="projects-list__container__item"
    (click)="getClickedProject(i)"
    >
    <a 
    href="/webdev-projects#project-details-section"
    
    >{{Project.name}}</a>
  </li>
    
    </ul>
     <div 
     class="projects-list__filter"
     *ngFor="let ProjectTechnology of ProjectTechnologies"
     >
       <button (click)="filterByTechnology(ProjectTechnology)">{{ProjectTechnology}}</button> </div>
       <div>
         <h2>The projects are filtered by:</h2>
         <ul *ngFor="let filterItem of FilterByTechArr">
           <li>{{filterItem}}</li>
         </ul>
       </div> 
  </section>
</div>