
<div class="row">
  <!-- All projects -->
<section id="project-list">
  <!-- Actual active filtering -->
  <h2 *ngIf="isFiltered" >Projects are filtered by:</h2>
  <div class="project-filtering">
    <div
      class="project-filtering__filteredBy">
      <ul *ngFor="let filteredByTechnology of FilterByTechArr">
        <li class="project-filtering__filteredBy__item"
         (click)="filterByTechnology(filteredByTechnology)">
          {{filteredByTechnology}}
        </li>
      </ul>
    </div>
<!-- Inactive filtering -->
    <div class="project-filtering__ProjectTechnologies" >
      <ul *ngFor="let ProjectTechnology of ProjectTechnologies">
  
        <li
        [ngStyle]="{'display' : FilterByTechArr.includes(ProjectTechnology) ? 'none' : 'block' }"
        class="project-filtering__ProjectTechnologies__item"
        (click)="filterByTechnology(ProjectTechnology)">
          <a>{{ProjectTechnology}}</a>
        </li>
      </ul>
    </div>

  </div>
  <div 
    *ngIf="!isFiltered"
    class="projects-list"
    >
    <h4>Please, select from the Projects below!</h4>
    <ul class="projects-list__container">
    <li *ngFor="let Project of Projects; let i = index" class="projects-list__container__item"
    (click)="getClickedProject(i)"
    >
    <a 
    href="/webdev-projects#project-details-section"
    >{{Project.name}}</a>
      </li>  
    </ul>
  </div>

  <!-- Filtered projects -->
  <div 
    *ngIf="isFiltered"
    class="projects-list">
    <h4>Please, select from the Projects below!</h4>
    <ul class="projects-list__container">
      <li *ngFor="let filteredProject of FilteredProjects; let i = index" class="projects-list__container__item" (click)="getClickedProject(i)">
        <a href="/webdev-projects#project-details-section">{{filteredProject.name}}</a>
      </li>
    </ul>
  </div>
</section>

       <div>
         <h2>The projects are filtered by:</h2>
         <ul *ngFor="let filterItem of FilterByTechArr">
           <li>{{filterItem}}</li>
         </ul>
       </div> 

        <div>
          <h2>FilteredProject:</h2>
          <ul *ngFor="let FilteredProject of FilteredProjects">
            <li>
              <h5>{{FilteredProject.name}}</h5>
              <!-- <h6>{{FilteredProject.technologies}}</h6> -->

            </li>
          </ul>
        </div>

</div>