
<div class="row">
  <!-- All projects -->
<section id="project-list">
  <div class="headings">
    <div class="headings__filteredBy">
      <h2 *ngIf="isFiltered" >Projects are filtered by:</h2>
    </div>
    <div class="headings__projectTechnologies">
      <h2>Projects are filtered by:</h2>
    </div>
  </div>
  
  <!-- Actual active filtering -->
  <div class="project-filtering">
    <div
      class="project-filtering__filteredBy">
      <ul *ngFor="let filteredByTechnology of FilterByTechArr">
        <li class="project-filtering__filteredBy__item"
         (click)="filterByTechnology(filteredByTechnology)">
          <a>{{filteredByTechnology}}</a>
          <i class="fas fa-times"></i>
        </li>
      </ul>
    </div>
<!-- Inactive filtering -->
<div class="project-filtering__ProjectTechnologies" >
      <ul *ngFor="let ProjectTechnology of ProjectTechnologies">
        <li
        [ngStyle]="{'display' : FilterByTechArr.includes(ProjectTechnology) ? 'none' : 'block' }"
        class="project-filtering__ProjectTechnologies__item"
        (click)="filterByTechnology(ProjectTechnology)">
          <a>{{ProjectTechnology}}</a>
        </li>
      </ul>
    </div>

  </div>
  <div 
    *ngIf="!isFiltered"
    class="projects-list"
    >
    <h4>Please, select from the Projects below!</h4>
    <ul class="projects-list__container">
    <li *ngFor="let Project of Projects; let i = index" class="projects-list__container__item"
    (click)="getClickedProject(i)"
    >
    <a 
    href="/webdev-projects#project-details-section"
    >{{Project.name}}</a>
      </li>  
    </ul>
  </div>

  <!-- Filtered projects -->
  <div 
    *ngIf="isFiltered"
    class="projects-list">
    <h4>Please, select from the Projects below!</h4>
    <ul class="projects-list__container">
      <li *ngFor="let filteredProject of FilteredProjects; let i = index" class="projects-list__container__item" (click)="getClickedProject(i)">
        <a href="/webdev-projects#project-details-section">{{filteredProject.name}}</a>
      </li>
    </ul>
  </div>
</section>

</div>