<div class="row">
  <section class="hero">
    <div class="hero__photo">
      <img src="./../../../assets/img/BM_Corporate.jpg" alt="Borkesz_Mate">
    </div>
    <div class="hero__copy">
      <h1>Hi, I'm Mate BORKESZ</h1>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi optio blanditiis, pariatur quia doloremque sequi veritatis, quis tenetur omnis earum excepturi corrupti harum architecto corporis provident odit dolorem ex atque?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt aut laudantium commodi illum! Praesentium asperiores alias incidunt non at labore quibusdam?</p>

      <div class="hero__copy__btn-container">
        <a href="#" class="btn-primary">View my work</a>
        <a href="#" class="btn-secondary">Contact</a>

      </div>
    </div>
  </section>
</div>