<div class="row">
  <section class="hero">
    <div class="hero__photo">
      <img src="./../../../assets/img/BM_Corporate.jpg" alt="Borkesz_Mate">
    </div>
    <div class="hero__copy">
      <h1>Hi, I'm Mate BORKESZ</h1>
      <h2>I am a PPC specialist and a self-taught frontend developer from Budapest Hungary.</h2>
      <p>I have 4 years’ experience on the field of online marketing. Most of this is working at Hungary’s leading advertising
      agency where I help clients from small businesses to large multinational companies.</p>
      <p>
      For more than one and half years’ I dedicate a huge amount of my free time to learn programming. Currently my focus is on
      frontend development especially on writing JavaScript in Angular Framework and site building, but in the close future
      I’d like to expand my knowledge towards backend and become a full stack developer.
      </p>

      <div class="hero__copy__btn-container">
        <a  href="#split-screen" class="btn-primary">View my work</a>
        <a [routerLink]="['/cv']" class="btn-secondary">Contact</a>

      </div>
    </div>
  </section>
</div>