<div class="full-row">
  <div class="container">
    <h5>Find out more about my projects!</h5>
    <p>A made a small filter app that displays some of my favorite projects I worked on. You can filter the projects by dirrerent technologies they use. These technologies are not limited to programming languages, but contains frameworks, layout models and more. </p>
    <p>The projects are fetched from an external Firebase database with the help of Angular HttpClient module. It is pretty easy to add further projects and the projects and the used technologies are listed automatically.</p>
    <p>The application is completely made by myself (without any online course copy or something like this, just good old Stackoverflow and a lot of Googling.) So I highly recommend checking out the source code on Github under web-dev projects compenents. </p>
  </div>
</div>