@import '~sass/base';
@import '~sass/variables';
@import '~sass/utilities';
@import '~sass/animations';
@import '~sass/mixins';

*{
 color:white;
}

.full-row{

 background-color: $color-primary;
 // height: 50vh;
}

.container{
 width: 50%;
 margin: 5rem auto;
 padding: 7rem 0;
 // background-color: pink;
 height: 100%;
 text-align: center;

 h5{
  font-size: 3rem;
 }
 p{
  margin-top: 2rem;
  font-size: 2rem;
  text-align: justify;
 }

}