<div class="full-row">
  <div class="container">
    <h5>Find out more about my web-dev projects!</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt doloremque, ut, magni distinctio, aperiam numquam ducimus reprehenderit inventore veritatis iusto hic fugiat possimus quibusdam? Ab deleniti aliquam provident. Adipisci, natus quisquam iste officiis quibusdam numquam dolore sit excepturi. Possimus impedit repellat natus quibusdam ad molestias voluptatum mollitia cum illum. Amet sapiente quia maxime facere doloremque necessitatibus minima est, recusandae esse suscipit eligendi culpa eos nesciunt ex ad dolor ullam velit repudiandae? Reprehenderit ipsum fugit temporibus magnam esse modi reiciendis dolorum consequuntur odit illum quibusdam vel praesentium ullam nemo, nihil perferendis laboriosam et repellat pariatur. Dolor porro magni possimus ratione necessitatibus?</p>
  </div>
</div>