@import '~sass/base';
@import '~sass/variables';
@import '~sass/utilities';
@import '~sass/animations';
@import '~sass/mixins';

.project-details{
    min-height: 85vh;
    border: 1px solid black;
    text-align: center;
  &__project-name{
    font-weight: 700;
    font-size: 5rem;
  }
  &__project-body{
    margin: 2rem 2rem;
    font-size: 2rem;
    padding: 0rem 3rem;
  }

}