<div class="full-row">
  <div class="container">
    <h1>My work on the field of online marketing</h1>
    <p>I am a PPC specialist who enjoys building complex well-thought-out campaigns to reach conversion focus goals. If a
    client has a product/service that he/she is about to sell online or wants to collects leads online, I can help them by
    defining and reaching relevant target audiences online.</p>
    <br>
    <p>I plan  funnel based user journeys that includes several online touchpoints on different channels while the user spends
    time online. Throughout this online journey the user meets our brand, later finds out more about us and in the end
    converts.
    </p>
    <br>
    <p>When comes to creating online journeys, I plan media on channels like Facebook/Instagram, Google Display Network (that
    contains YouTube and Gmail as well), LinkedIn and Google Search Network. Below you can read more about some of my works.</p>

  </div>
</div>