<section class="split-screen">
  <div class="split-screen__left">
    <div class="split-screen__left__overlay">
      <div class="split-screen__left__overlay__text">
        <h5><a routerLink="webdev-projects" >Web development</a></h5>
        <h6>Check out my web development projects, and don't forget to read my code on Github!</h6>
      </div>
    </div>
  </div>

  <div class="split-screen__right">
      <div class="split-screen__right__overlay">
        <div class="split-screen__right__overlay__text">
          <a routerling="/webdev-projects"><h5>Online marketing</h5>
          <h6>Learn more about my expertise and skill on the field of online marketing</h6>
          </a>
        </div>
      </div>
  </div>
</section>