@import '~sass/base';
@import '~sass/variables';
@import '~sass/utilities';
@import '~sass/animations';
@import '~sass/mixins';


.personal{
  display: flex;

  &__details{
    flex: 0 0 70%;
    // background-color: red;
    padding: 2rem 3rem;

    h1{
      font-size: 5rem;
    }
    h2{
      font-size: 2.4rem;
      color: $color-primary;
      text-transform: uppercase;
      font-weight: 300;
    }

    &__email-phone{
      display: flex;
      padding: .6rem 2rem .6rem 0;
      font-size: 2rem;
      align-items: center;
      // background-color: red;
      
      i{
        margin-right: 1rem;
        color: $color-primary;
        font-size: 4rem;
      }

      &__link{
       text-decoration: none;
       color: black; 
      }
    }
    
    &__social{
      display: flex;
      margin: 1rem 2rem 1rem 0;
      font-size: 4rem;
      // background-color: red;

      &__item{
        margin-right: 2rem;
        color: $color-primary;
      }
    }
  }

  &__image{
    flex: 1;
    
    &__container{
      text-align: center;
      img{
        border-radius: 100%;
        width: 100%;
        border: .2rem solid black;
      }
    }
  }

}