<div class="md-row">
  <div class="personal">
    
    <div class="personal__details">

      <h1>Mate BORKESZ</h1>
      <h2>PPC | Digital Marketing | Self-taught Frontend Developer</h2>
     
      <div class="personal__details__email-phone">
        <i class="far fa-envelope"></i>
        <a class="personal__details__email-phone__link" href="mailto:borkeszmate@gmail.com"> borkeszmate@gmail.com</a>
      </div>

      <div class="personal__details__email-phone">
        <i class="fas fa-mobile"></i>
        <a class="personal__details__email-phone__link" href="tel:+36303300194">+36 30 33 00 194</a>
      </div>

      <div class="personal__details__social">
       
        <a href="https://www.linkedin.com/in/borkeszmate/" target="_blank" class="personal__details__social__item">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/borkeszmate" target="_blank" class="personal__details__social__item">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.facebook.com/mate.borkesz" target="_blank" class="personal__details__social__item">
          <i class="fab fa-facebook"></i>
        </a>

      </div>
      
    </div>

    <div class="personal__image">
      <div class="personal__image__container">
        <img src="../../../../assets/img/Borkesz_Mate.png" alt="Borkesz Máté">
      </div>
     


 
    </div>
  </div>
</div>