<div class="row">
  <div class="spend-monitor">
    
    <div class="spend-monitor__image">
      <img src="../../../../assets/img/projects/Spend_monitor_1080x1080.png" alt="">
    </div>
    <div class="spend-monitor__text">
      <h4>Meet the Spend Monitor</h4>
      <h5>My latest and most complex web app so far!</h5>
      <p>The Spend Monitor is an Angular application with Firebase Realtime Database connection that enables the you to create
      read update and delete spends. You can register with email address or easily log in with your personal Google account.</p>
      
      <p>Once you record your spends, you can assign a category to each spend and even add your own spend categories. In your
      account settings you can customize your spend categories and if you want you can restore the default spend categories.</p>

      <p>Once you record some spends the app automatically sums them by categories and displays in a nice pie chart.</p>
      <a href="https://spend-monitor-629f9.firebaseapp.com/?utm_source=portfolio_page" class="btn-primary" target="_blanck">View the web app</a>
    </div>

  </div>
</div>

