
<div 
  class="opened-navbar"
  *ngIf="isToggled"
  id="open-navbar"
>
  <div class="opened-navbar__times" (click)="navClick()">
    <i class="fas fa-times"></i>
  </div>
  
  <div 
    class="opened-navbar__container">
    <div class="opened-navbar__container__navigation">

      <div class="opened-navbar__container__navigation__menu">
        
        <ul>

          <li class="opened-navbar__container__navigation__menu__item">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"
            >Home</a>
          </li>
          
          <li class="opened-navbar__container__navigation__menu__item">
            <a [routerLink]="['/webdev-projects']" routerLinkActive="router-link-active">Webdev Work</a>
          </li>
          
          <li class="opened-navbar__container__navigation__menu__item">
            <a [routerLink]="['/online-marketing']" routeLinkActive="router-link-active">Online Marketing Work</a>
          </li>
          
          <li class="opened-navbar__container__navigation__menu__item">
            <a [routerLink]="['/cv']" routerLinkActive="router-link-active">CV</a>
          </li>

        </ul>

      </div>
      
    </div>
  </div>
</div>

<div class="row">
  <section class="nav">
    
    <div class="nav__logo-box"></div>
    <div class="nav__navigation">
      <ul class="nav__navigation__nav-container">
        
        <li class="nav__navigation__nav-container__nav-item">
          <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        </li>

        <li class="nav__navigation__nav-container__nav-item">
          <a [routerLink]="['/webdev-projects']" routerLinkActive="router-link-active" >Webdev Work</a>
        </li>

        <li class="nav__navigation__nav-container__nav-item">
          <a [routerLink]="['/online-marketing']" routeLinkActive="router-link-active" >Online Marketing Work</a>
        </li>

        <li class="nav__navigation__nav-container__nav-item">
          <a [routerLink]="['/cv']" routerLinkActive="router-link-active" >CV</a>
        </li>


        <li class="nav__navigation__nav-container__nav-item">
          <div class="nav__navigation__nav-container__nav-item__hamburger">
            <input id="navtoggle" type="checkbox" class="nav__hamburger-menu__checkbox">
            <label for="navtoggle" (click)="navClick()">
              <i class="fas fa-ellipsis-h" id="menuIcon" ></i>
            </label>
            <div class="nav__navigation__nav-container__nav-item__hamburger__background">            
            </div>
          </div>
        </li>

      </ul>
    </div>  
  </section>
</div>

