

<div class="row">
  <section class="nav">
    
    <div class="nav__logo-box"></div>
    <div class="nav__navigation">
      <ul class="nav__navigation__nav-container">
        <li class="nav__navigation__nav-container__nav-item"><a href="#">Webdev Work</a></li>
        <li class="nav__navigation__nav-container__nav-item"><a href="#">Online Marketing Work</a></li>
        <li class="nav__navigation__nav-container__nav-item"><a href="#">CV</a></li>
        <li class="nav__navigation__nav-container__nav-item__hamburger">
          <input id="navtoggle" type="checkbox" class="nav__hamburger-menu__checkbox">
          <label for="navtoggle">
            <i class="fas fa-ellipsis-h"></i>
          </label>
        </li>
      </ul>
    </div>  
  </section>
</div>

