@import '~sass/base';
@import '~sass/variables';
@import '~sass/utilities';
@import '~sass/animations';
@import '~sass/mixins';


.footer{
 width: 100%;
 background-color: black;
 display: flex;
 justify-content: space-around;
 padding: 7rem 0;

 @media only screen and (max-width: 50em) {
   flex-direction: column;
   text-align: center;
   padding: 4rem 0;
 }
 
 &__copywrite{
  font-size: 3rem;
  color: white;
  }

  &__navigation{
   ul{
    display: flex;
     @media only screen and (max-width: 50em) {
        flex-direction: column;

    }

   }
   &__item{
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0 2rem;
      @media only screen and (max-width: 50em) { 
      margin: .7rem 0;
      }
    
    a{
     font-size: 2rem;
     color: white;
     text-decoration: none;

    }


   }

  }

}