<div class="footer">
  <div class="footer__copywrite">
    <h6>Borkesz Máté 2018</h6>
  </div>
  <div class="footer__navigation">
    <ul>
    
      <li class="footer__navigation__item">
        <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
      </li>
    
      <li class="footer__navigation__item">
        <a [routerLink]="['/webdev-projects']" routerLinkActive="router-link-active">Webdev Work</a>
      </li>
    
      <li class="footer__navigation__item">
        <a [routerLink]="['/online-marketing']" routeLinkActive="router-link-active">Online Marketing Work</a>
      </li>
    
      <li class="footer__navigation__item">
        <a [routerLink]="['/cv']" routerLinkActive="router-link-active">CV</a>
      </li>
    
    </ul>
  </div>
</div>