<div class="row">
  
  <!-- If Project is not loaded -->
  <div
   class="project-details"
   *ngIf="!isProjectLoaded"
   >
    <h5 class="project-details__project-body">Please select a project!</h5>
   <p class="project-details__project-body">Please select a project! Use the filter to view projects by specific technology!</p>
   

  </div>
  <section
   id="project-details-section" 
   class="project-details"
   *ngIf="isProjectLoaded"
   >
    <h4 class="project-details__project-name">{{ProjectDetails?.name}}</h4>
    <p class="project-details__project-body">{{ProjectDetails?.body}}</p>
    <div class="project-details__project-img">
      <img [src]="ProjectDetails.picture" alt="">
    </div>  
    <div class="project-details__cta">

      <div class="project-details__cta__btn">
        <a [href]="ProjectDetails.github_url" target="black" class="btn btn-primary">View the code on GitHub</a>
      </div>

      <div class="project-details__cta__btn">
        <a [href]="ProjectDetails.preview_url" target="black" class="btn btn-secondary">Check out in action</a>
      </div>

    </div>

    <div class="project-details__cta__small">
      <a [href]="ProjectDetails.github_url" target="black" class="btn btn-primary">View the code on GitHub</a>
      <a [href]="ProjectDetails.preview_url" target="black" class="btn btn-secondary">Check out in action</a>
    </div>
    
  </section>

</div>
