<div class="row">
  <div class="title"><h1>My web developer skills</h1></div>
 
  <!-- 3 items skills row -->
  <div class="skills">
    
    <div class="skills__item">
      <div class="skills__item__icon">
        <i class="fab fa-js-square"></i>
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title" >JavaScript</h4>
        <p class="skills__item__text__description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div> 
    </div>

    <div class="skills__item">
      <div class="skills__item__icon">
        <i class="fab fa-js-square"></i>
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title">JavaScript</h4>
        <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
          officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div>
    </div>

    <div class="skills__item">
      <div class="skills__item__icon">
        <i class="fab fa-js-square"></i>
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title">JavaScript</h4>
        <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
          officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div>
    </div>

  </div>

    <div class="skills">
    
    <div class="skills__item">
      <div class="skills__item__icon">
        <i class="fab fa-js-square"></i>
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title" >JavaScript</h4>
        <p class="skills__item__text__description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div> 
    </div>

    <div class="skills__item">
      <div class="skills__item__icon">
        <i class="fab fa-js-square"></i>
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title">JavaScript</h4>
        <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
          officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div>
    </div>

    <div class="skills__item">
      <div class="skills__item__icon">
        <i class="fab fa-js-square"></i>
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title">JavaScript</h4>
        <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
          officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div>
    </div>

  </div>


</div>