<div class="row">
  <div class="title"><h1>My web developer skills</h1></div>
  
  <!-- 3 items skills row -->
  <div class="skills">
    
    <div 
    class="skills__item"
    data-aos="zoom-in"
    >
    <div class="skills__item__icon">
      <i class="fab fa-html5"></i>
    </div>
    <div class="skills__item__text">
      <h4 class="skills__item__text__title" >HTML</h4>
      <p class="skills__item__text__description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div> 
    </div>
    
    <div
    class="skills__item"
    data-aos="zoom-in"
    >
    <div class="skills__item__icon">
      <i class="fab fa-css3-alt"></i>
      <i class="fab fa-sass"></i>
    </div>
    <div class="skills__item__text">
      <h4 class="skills__item__text__title">CSS & Sass</h4>
      <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
        officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div>
    </div>

    <div class="skills__item" data-aos="zoom-in">
      <div class="skills__item__icon">
        <img src="../../../../assets/img/bootstrap.png" alt="">
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title">Bootstrap</h4>
        <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
          officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
      </div>
    </div>
  </div>

  <!-- 2. row -->
    <div class="skills">

      
      <div class="skills__item" data-aos="zoom-in">
        <div class="skills__item__icon">
          <i class="fab fa-js-square"></i>
        </div>
        <div class="skills__item__text">
          <h4 class="skills__item__text__title">JavaScript</h4>
          <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
            officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
        </div>
      </div>


      <div 
        class="skills__item"
        data-aos="zoom-in"
        >
        <div class="skills__item__icon">
          <i class="fab fa-angular"></i>
        </div>
        <div class="skills__item__text">
          <h4 class="skills__item__text__title" >Angular</h4>
          <p class="skills__item__text__description" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
        </div> 
      </div>

      
      <div
      class="skills__item"
      data-aos="zoom-in"
      >
        <div class="skills__item__icon">
          <i class="fab fa-git-square"></i>
        </div>
        <div class="skills__item__text">
          <h4 class="skills__item__text__title">Git</h4>
          <p class="skills__item__text__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae eius
            officiis facilis esse magni nemo nulla mollitia aspernatur et optio!</p>
        </div>
      </div>


  </div>


</div>

