@import '~sass/base';
@import '~sass/variables';
@import '~sass/utilities';
@import '~sass/animations';
@import '~sass/mixins';

.title{
 text-align: center;
 margin: 5rem 0;
 h1{
  font-size: 4rem;
 }
}

.skills{
 display: flex;
 @media only screen and (max-width: 50em) {
   flex-direction: column;
 }
 
  &__item{
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1;
   padding: 3rem;
  //  background-color: red;


   &__icon{
    margin: 2rem 0;
    padding: 2rem;
    background-color: $color-primary;
    border-radius: 5%;
    i{
     margin: 0 1rem;
     color: white;
     font-size: 6rem;
    }
    img{
      width: 6rem;
    }
   }
   &__text{
    text-align: center;
    
    &__title{
      font-size: 3rem;
    }
    &__description{
      margin-top: .7rem;
      font-size: 1.7rem;
    }
   }

  }
}