<div class="row">
  <div class="title"><h1>My web developer skills</h1></div>
  
  <!-- 3 items skills row -->
  <div class="skills">
    
    <div 
    class="skills__item"
    data-aos="zoom-in"
    >
    <div class="skills__item__icon">
      <i class="fab fa-html5"></i>
    </div>
    <div class="skills__item__text">
      <h4 class="skills__item__text__title" >HTML</h4>
      <p class="skills__item__text__description">I know and confidently use all the necessary aspects of HTML.</p>
      </div> 
    </div>
    
    <div
    class="skills__item"
    data-aos="zoom-in"
    >
    <div class="skills__item__icon">
      <i class="fab fa-css3-alt"></i>
      <i class="fab fa-sass"></i>
    </div>
    <div class="skills__item__text">
      <h4 class="skills__item__text__title">CSS & Sass</h4>
      <p class="skills__item__text__description">I am able to create modern looking, responsive and well-structured sites since I know well CSS. I use Sass as a CSS
      preprocessor.</p>
      </div>
    </div>

    <div class="skills__item" data-aos="zoom-in">
      <div class="skills__item__icon">
        <img src="../../../../assets/img/bootstrap.png" alt="">
      </div>
      <div class="skills__item__text">
        <h4 class="skills__item__text__title">Bootstrap</h4>
        <p class="skills__item__text__description">I built several websites using Bootstrap as a frontend framework.</p>
      </div>
    </div>
  </div>

  <!-- 2. row -->
    <div class="skills">

      
      <div class="skills__item" data-aos="zoom-in">
        <div class="skills__item__icon">
          <i class="fab fa-js-square"></i>
        </div>
        <div class="skills__item__text">
          <h4 class="skills__item__text__title">JavaScript</h4>
          <p class="skills__item__text__description">I know all the basics of the language, I am able to modify the DOM and I can communicate with external RESTful API’s.
          Besides JS I have a little experience with PHP and PHP MVC frameworks.</p>
        </div>
      </div>


      <div 
        class="skills__item"
        data-aos="zoom-in"
        >
        <div class="skills__item__icon">
          <i class="fab fa-angular"></i>
        </div>
        <div class="skills__item__text">
          <h4 class="skills__item__text__title" >Angular</h4>
          <p class="skills__item__text__description" >I work with Angular as a JS Framework. I really like the component based structured and the static type-checking in
          Typescript that makes my code clean. This website you are currently reading is an Angular website as well.</p>
        </div> 
      </div>

      
      <div
      class="skills__item"
      data-aos="zoom-in"
      >
        <div class="skills__item__icon">
          <i class="fab fa-git-square"></i>
        </div>
        <div class="skills__item__text">
          <h4 class="skills__item__text__title">Git</h4>
          <p class="skills__item__text__description">I use Git to keep track of the changes that have been made on my code. I am not a pro yet, but I can commit my changes,
          add branches and more. I’ve never worked together with other people on programming projects but I do know how important
          it is to know a version control system so I picked up all the fundamentals of Git and can not wait to expand my
          knowledge</p>
        </div>
      </div>


  </div>


</div>

