<div class="row">
  <section class="hero">
    
    <div class="hero__copy">
      
      <h1>How I learned to code</h1>
      
      
      <p>I was always interested in technology. It all started with building ecommerce sites using WorldPress. I soon released
      that a CMS isn’t enough to create everything I wanted to.
      </p>
      
      <p>I took my first beginner web-developer online course and I felt I really enjoy writing code and create what is in my
      mind. Now after I completed more than 100 hours of top courses and I spent plenty of hours exercising what I learnt, I
      am confidently able to work on frontend development projects and create websites just like this one, or more complex.</p>


    </div>
    <div class="hero__image">
      <div class="hero__image__code">
        <h5> &lt; Learning to code /&gt; </h5>
      </div>
    </div>


  </section>
</div>