<div class="row">
  <section class="hero">
    
    <div class="hero__copy">
      <h1>How I learned to code</h1>
      <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi optio blanditiis, pariatur quia doloremque sequi
        veritatis, quis tenetur omnis earum excepturi corrupti harum architecto corporis provident odit dolorem ex atque?</p>
     


    </div>
    <div class="hero__image">
      <div class="hero__image__code">
        <h5> &lt; Learning to code /&gt; </h5>
      </div>
    </div>


  </section>
</div>