<section class="md-row">

<h1> Work Experience</h1>  


  <div class="all-experiences-container">
    
    <div class="line medium-display-none">

  <!-- Circle and the case icon -->
      <div class="line__icon-circle-container" >
        
        <i class="fas fa-briefcase"></i>
        
        <svg>
          <circle cx="35" cy="35" r="35" />
        </svg>
        
      </div>
      
      <!-- Vertical line -->
      <div class="line__svg-line-container">
        
      </div>

    </div>
    


  <div class="experience-container">


    <div class="experience">

      <div class="experience__left">
        
        <h3 class="experience__left__position">
          Digital Media Executive
        </h3>
        
        <h4 class="experience__left__years">
          2017.09 - present
        </h4>

        <div class="experience__left__img-container">
          <img src="./../../../../assets/img/hps-digital_logo.svg" alt="HPS Logo">
        </div>
      </div>

      <div class="experience__right">
        <p class="experience__right__description">As a Digital Media Executive my main clients are Auchan, LeasePlan, Budapesti Fesztiválzenekar and more. I am
        specialized on conversion focus campaigns when our main goal is usually a website purchase or other specific action on
        the website.
        </p>
        <br>
        <p class="experience__right__description">
        In order the maximize conversions I define the most relevant target audience and user paths to conversion including
        mostly PPC channels like Google Search, Google Display Network, Facebook or LinkedIn. I play a strong role when it
        comes to defining the message communicated to different segment. 
        </p>
        <br>
        <p class="experience__right__description">
        Besides planning media, sometimes I design ad
        creatives, write ad copy, analyze user behavior and build custom audiences and brief developers to implement tags and
        specific events that we later track in Google Analytics and in the different ad systems.
        </p>
      </div>
      
    </div>
    
    <hr>
    <div class="experience">
    
    
      <div class="experience__left">
    
        <h3 class="experience__left__position">
          Junior Media Executive
        </h3>
    
        <h4 class="experience__left__years">
          2016.09 - 2017.08
        </h4>
    
        <div class="experience__left__img-container">
          <img src="../../../../assets/img/hps-digital_logo.svg" alt="HPS Logo">
        </div>
      </div>
    
      <div class="experience__right">
        <p class="experience__right__description">Maintain customer relationship with clients. Planning digital media and digital user journey for creative campaign of FMCG
        brands like NESCAFÉ, Borsodi, Nestlé Beba. Managing budgets, working together with the creative division on banners and
        ad copys. Evaluating campaign performance. Planning digital strategy and managing PPC campaign for ecommerce sites like
        online.aucha.hu, brands.hu, bfz.hu.</p>
      </div>
    
    </div>

    <hr>

    <div class="experience">
    
    
      <div class="experience__left">
    
        <h3 class="experience__left__position">
          Digital Project Manager Intern
        </h3>
    
        <h4 class="experience__left__years">
          2016.03 - 2016.09
        </h4>
    
        <div class="experience__left__img-container">
          <img src="../../../../assets/img/hps-digital_logo.svg" alt="HPS Logo">
        </div>
      </div>
    
      <div class="experience__right">
        <p class="experience__right__description">Manage relationships with current and future clients, help Facebook community management on brands like NESCAFÉ,
        riporting about the performance of PPC campaigns, activating Facebook campaigns and contribute to the media planning.</p>
      </div>
    
    </div>
  <hr>
      <div class="experience">
      
        <div class="experience__left">
      
          <h3 class="experience__left__position">
            Marketing Associate
          </h3>
      
          <h4 class="experience__left__years">
            2015.03 - 2016.03
          </h4>
      
          <div class="experience__left__img-container">
            <img src="../../../../assets/img/HyperTeam_logo.jpg" alt="HPS Logo">
          </div>
        </div>
      
        <div class="experience__right">
          <p class="experience__right__description">Planning marketing campaigns for different business software, creating marketing materials, writing newsletters
          for subscribers, webdesign, flyer design, content marketing on LinkedIn, organizing self-hosted event, taking
          part on external event, writing Ebook, provide support to costumers, giving software presentations, making
          tutorial videos.</p>
        </div>
      
      </div>
    </div>
  </div>

  <div class="education-and-skills">
    <div class="education-all">
      <div class="line-small">
          
        <!-- Circle and the case icon -->
        <div class="line-small__icon-circle-container medium-display-none">
      
          <i class="fas fa-university"></i>
      
          <svg>
            <circle cx=20 cy=20 r=20 />
          </svg>
      
        </div>
      
        <!-- Vertical line -->
        <div class="line-small__svg-line-container small-display-none">
      
        </div>
          
      </div>

      <div class="education">
        
        <div class="education__container">
          <div class="education__school">
            <h3>Education:</h3>
            <h4>Budapest Business School</h4>
            <h5>Collage of International Management and Business</h5>
            <p>International Business Economics</p>
          </div>

          <div class="education__languages">
            <h4>Languages</h4>
            <ul>
              <li><span>English:</span> Professional working proficiency</li>
              <li><span>German:</span> Limited working proficiency</li>
              <li><span>Hungarian:</span> Native</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    
    <div class="skills-all">
      <div class="line-small small-display-none">
      
        <!-- Circle and the case icon -->
        <div class="line-small__icon-circle-container medium-display-none">
      
          <i class="far fa-lightbulb"></i>
      
          <svg>
            <circle cx="20" cy="20" r="20" />
          </svg>
      
        </div>
      
        <!-- Vertical line -->
        <div class="line-small__svg-line-container">
      
        </div>
      
      </div>
      <div class="skills">

        <div class="skills__online-marketing-web-dev">
          

          <h4>Online Marketing Skills:</h4>
          
          <ul>

            <li>
              <span>Digital Media Planning:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </li>

            <li>
              <span>Google Ads:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </li>

            <li>
              <span>Facebook Ads:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </li>

            <li>
              <span>Google Analytics:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>

            <li>
              <span>Tag Management:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>

            <li>
              <span>Project Management:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>
          </ul>
    
          <hr>

          <h4>Web developer Skills:</h4>
          <ul>
          
            <li>
              <span>HTML:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>
          
            <li>
              <span>CSS & Sass:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>
          
            <li>
              <span>Bootstrap:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>
          
            <li>
              <span>JavaScript:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>
          
            <li>
              <span>Angular:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>
          
            <li>
              <span>Git:</span>
              <div class="icon-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

</section>