@import '~sass/base';
@import '~sass/variables';
@import '~sass/utilities';
@import '~sass/animations';
@import '~sass/mixins';

h1{
 font-size: 5rem;
 i{
  color: $color-primary;
 }
}

.all-experiences-container{
 display: flex;
 justify-content: space-between;
 margin: 2rem 0 10rem 0;

//  background-color: darkblue;
 @media only screen and (max-width: 50em) {
   margin: 2rem 0;
 }
}

.line{
 flex: 0 0 10%;
 // background-color: hotpink;
 display: flex;
 flex-direction: column;

 
 &__icon-circle-container{
  position: relative;
  background-color: blue;
  
  i{
   position: absolute;
   top: 2.2rem ;
   left: 50%;
   z-index: 10;
   transform: translateX(-50%);
   color: white;
   font-size: 3rem ;
  }

  svg{
   position: absolute;
   top: 5px;
   left: 50%;
   z-index: 1;
   transform: translateX(-3.5rem);
  
   circle{
    fill: $color-primary;
    
   }

  }

 }

 &__svg-line-container{
  background-color: $color-primary;
  height: 100%;
  width: 3%;
  margin: 2rem auto;
 }
 

}



.all-experiences-container{
 // flex: 0 0 80%;
 // background-color: rgb(163, 224, 41);
 
}

.experience{
 display: flex;
//  background-color: pink;
 margin: 5rem 0 5rem 5rem ; 
 @media only screen and (max-width: 40em) {
   flex-direction: column;
   margin: 5rem 0; 
 }




 &__left{
  flex: .4;
  // background-color: $color-fuchsia-1;
  border-right: solid .2rem $color-primary;
  padding: 1rem 1rem;
  
  &__position{
   // margin: 1rem 0;
   font-weight: 300;
   font-size: 3rem;
   text-transform: uppercase;
   color: $color-primary;


  }

  &__years{
   text-transform: uppercase;
   font-size: 1.5rem;
  }

  &__img-container{
   margin-top: 2rem;
   width: 80%;
   img{
    width: 100%;
    @media only screen and (max-width: 40em) {
      width: 75%;
    }
   }
  }


 }
 &__right{
  flex: 1;
  // background-color: $color-blue-1;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  &__description{
   font-size: 1.8rem;
   text-align: justify;
   
   @media only screen and (max-width:50em) {
     font-size: 2.3rem;
     padding: 0 1rem;
   }
   

  }
 }

}

hr{
 color: black;
 background-color: black;
}


.education-and-skills{

  display: flex;
  // justify-content: center;
  // background-color: red;
  @media only screen and (max-width: 40em) {
    flex-direction: column;
  }
  
}

.education-all{
  flex: 0 0 50%;
  display: flex;
  
  
}

.skills-all{
  // background-color: firebrick;
  flex: 1;
  display: flex;
  // background-color: palegreen;
}



.line-small{
 flex: 0 0 10%;
//  background-color: hotpink;
 display: flex;
 flex-direction: column;
 height: 100%;
 
 &__icon-circle-container{
  // flex: 0 0 90%;
  position: relative;
  background-color: blue;
  i{
   position: absolute;
   top: 1.45rem;
   left: 50%;
   z-index: 10;
   transform: translateX(-50%);
   color: white;
   font-size: 2rem;
  }
  svg{
   position: absolute;
   top: 5px;
   left: 50%;
   z-index: 1;
   transform: translateX(-2rem);
   circle{
    fill: $color-primary;
   }
  }

 }

 &__svg-line-container{
  background-color: $color-primary;
  height: 100%;
  width: 5%;
  margin: 2rem auto;
 }
 
}

.education{
  padding: 1rem 3rem;
  @media only screen and (max-width: 40em) {
    padding: 0;
  }
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &__school{
    margin: 1rem 0;
    h3{
      font-size: 2.5rem;
    }
    h4{
      color: $color-primary;
      font-size: 2.5rem;
    }
    h5{
      font-size: 1.6rem;
      color: $color-primary;
      font-weight: 300;
    }
    p{
      font-size: 2rem;
      color: black;
      font-weight: 300;
    }

  }

  &__languages{
    margin: 2rem 0;
    h4{
      color: black;
      font-size: 2.5rem;
    }
    li{
      text-decoration: none;
      list-style-type: none;
      font-size: 1.6rem;
      margin: .6rem 0;
      span{
        font-weight: 600;
      }
    }
  }
}

.skills{
  padding: 1rem 0rem 1rem 1rem;
  margin: 1rem 0;
  // background-color: gold;
  @media only screen and (max-width: 50em) {
    padding: 0;
    width: 100%;
  }



  &__online-marketing-web-dev{

     
    h4{
      font-size: 2.5rem;
      color: black;
    }

    ul:not(:last-child){
      margin-bottom: 5rem;
      
    }

    li{
      // padding: .5rem 0;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      margin: 1rem 0;
      // background-color: magenta;
      
      span{
        flex: 1;
        font-weight: 500;
        // background-color: khaki;
        color: black;
        list-style-type:none;
        font-size: 1.5rem;
      }

      .icon-container{
        flex: 0 0 60%;  
      }

      i{
        color: $color-primary;
        font-size: 2.2rem;
        margin: 0 .5rem;
      }

    }
  }
}