<!-- Auchan -->
<div class="row">
  
  <div class="hero">
   
    <div class="hero__image">
     <img src="../../../../assets/img/projects/PPC/auchan.jpg" alt="">  
   </div>
   
   <div class="hero__text">
     
    <div class="hero__text__headline">
       <h2>Auchan PPC Management</h2>
     </div>

      <div class="hero__text__paragh">
        <p>I worked more than 1 year as the key member of HPS’s Auchan PPC team. Our task was to develop PPC strategy, manage
        Google Ads and Facebook campaigns on a daily basis. We were also responsible for analyzing, maintaining, and optimizing
        Auchan Magyarország’s Google Analytics accounts.</p>
        <br>
        <p>Auchan started its online home delivery service back in 2016 when we started to work together. It belonged to my daily
        tasks to manage online campaigns for both the online- and Auchan’s physical stores.
        Besides managing Auchan's ongoing PPC campaigns it belonged to my tasks to plan media and execute Auchan's accasional campaigns for weekly or monthly promotions. That means 2-3 small or medium size campaign a week. I not only planned the campaign and activated in the different ad systems but I myself wrote the ad text for these campaigns as well.
        </p>
     </div>
   </div>
  </div>
</div>

  <!-- Spacing -->
<div class="full-row">
  
</div>

<div class="spacing">
</div>


<!-- LeasePlan -->

<div class="row">

  <div class="hero">

    <div class="hero__text">

      <div class="hero__text__headline">
        <h2>LeasePlan PPC Management</h2>
      </div>

      <div class="hero__text__paragh">
        <p>LeasePlan is a leading multinational leasing company. My task is to generate as many leads from the SME sector as
        possible. In order to do this, we drive highly relevant, paid traffic to LeasePlan’s website from different online
        channels like Google Search, Display Display Network, YouTube, Facebook and LinkedIn.</p>
        <p>We created a digital lead generating strategy that is made up of different steps such as user education step followed
        by direct product offer ads. Thus we maintain several sophisticated remarketing lists that enable us to show our target
        audience the most attractive offer based on the user’s previous behavior on the website.</p>
        <p>We take the advantage of using the latest ad types provided. For example, carefully designed Facebook Canvas and
        Collection ads. Furthermore we enhance LeasePlan’s online campaigns with dynamic remarketing both on Facebook/Instagram
        and Google Display Network.</p>
        <br>
        <p>Besides managing LeasePlan's ad accounts sometimes I design ad creatives in Photoshop and write ad copy.</p>
      </div>
    </div>

    <div class="hero__image">
      <img src="../../../../assets/img/projects/PPC/LeasePlan.PNG" alt="">
    </div>

  </div>
</div>

<!-- Full width section
<div class="full-row">
  <div class="container">
    <h5>lorem Title</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod repellendus impedit ullam quibusdam,
      perferendis
      tenetur veritatis a, quas, sint dolorem qui eius sapiente ducimus blanditiis aut. Non, assumenda! Voluptates?</p>
  </div>
</div>

<hr> -->

<!-- Spacing -->
<div class="full-row"></div>
<div class="spacing"></div>



<!-- Hesters'Life -->
<div class="row">

  <div class="hero">

    <div class="hero__image">
      <img src="../../../../assets/img/projects/PPC/Hesters_Life_1280x720.png" alt="Hesters_Life">
    </div>

    <div class="hero__text">

      <div class="hero__text__headline">
        <h2>Hester's Life PPC management</h2>
      </div>

      <div class="hero__text__paragh">
        <p>As Hester’s Life’s Performance Marketing agency, our task was to create and execute an online PPC strategy relying
        heavily on paid search engine marketing and Facebook/Instagram adadvertising and to constantly monitor the campaign
        performance using E-commerce analytics and data visualization.</p>
        <br>
        <p>My task was to create and execute an online PPC strategy relying heavily on paid search engine marketing and
        Facebook/Instagram advertising and to constantly monitor the campaign performance using E-commerce analytics and data
        visualization.
</p>
      </div>
    </div>
  </div>
</div>

<!-- Spacing -->
<div class="full-row"></div>
<div class="spacing"></div>


<!-- LeasePlan -->

<div class="row">

  <div class="hero">

    <div class="hero__text">

      <div class="hero__text__headline">
        <h2>Budapesti Fesztiválzenekar</h2>
      </div>

      <div class="hero__text__paragh">
        <p>As BFZ’s Google Ads campaign manager I am responsible for planning and managing BFZ’s Google Ads campaigns that mainly
        focus on season and single ticket sales for BFZ’s concerts. Besides regular Google Ads campaign I planned BFZ’s Google
        AdGrants strategy and manage its account.</p>
        <br>
        <p>I also held a 1 day training to BFZ’s marketing communication colleague, introducing the basics and evolution of Google
        Ads. The main differences between Google Search Network and Google Display Network, auction system, best practices for ad copy writing, different remarketing types in Google Ads, I also presented all
        available ad forms on GDN (including YouTube and Google Sponsored Promotions) and their pros and cons, conversion tracking and more.</p>
      </div>
    </div>

    <div class="hero__image">
      <img src="../../../../assets/img/projects/PPC/BFZ.PNG" alt="Budapesti_Fesztiválzenekar">
    </div>

  </div>
</div>

<!-- Full width section
<div class="full-row">
  <div class="container">
    <h5>lorem Title</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod repellendus impedit ullam quibusdam,
      perferendis
      tenetur veritatis a, quas, sint dolorem qui eius sapiente ducimus blanditiis aut. Non, assumenda! Voluptates?</p>
  </div>
</div>

<hr> -->

<!-- Spacing -->
<div class="full-row"></div>
<div class="spacing"></div>

