+<div class="row">
  
  <div class="hero">
   
    <div class="hero__image">
     <img src="../../../../assets/img/projects/PPC/auchan.jpg" alt="">  
   </div>
   
   <div class="hero__text">
     
    <div class="hero__text__headline">
       <h2>Auchan PPC Management</h2>
     </div>

      <div class="hero__text__paragh">
        <p>I worked more than 1 year as the key member of HPS’s Auchan PPC team. Our task was to develop PPC strategy, manage
        Google Ads and Facebook campaigns on a daily basis. We were also responsible for analyzing, maintaining, and optimizing
        Auchan Magyarország’s Google Analytics accounts.</p>
        <br>
        <p>Auchan started its online home delivery service back in 2016 when we started to work together. It belonged to my daily
        tasks to manage online campaign for both the online- and Auchan’s physical stores. Besides planning digital media for
        various small and medium size campaigns (around 2-3 campaigns a week) I myself wrote the ad text for the ads.</p>
     </div>
   </div>
  </div>
</div>

  <!-- Full width section -->
<div class="full-row">
  
</div>

<div class="spacing">
</div>



